{% extends 'surApp/padre.html' %}

{% block contenido %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<div class="contenedorInicio">
    <h1>Arma tu equipo de futbol</h1>
    <p>- podes cargar jugadores </p>
    <p>- podes cargar tu tecnico </p>
    <h2>en la opcion cancha</h2>
    <p>- ver tu equipo en la cancha</p>
    <p>- cargar un rival </p>
    <p>- asignarle puntaje </p>
    <p>- y simular un partido</p>
    <p>- a mas puntaje , mas probable que te gane </p>
</div>
{% endblock contenido %}
    