{% extends 'surApp/padre.html' %}

{% block contenido %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/mis_estilos.css' %}">
<div class="eleccion_rival">
    <h1>rivales </h1>
    <form action="{% url 'Resultado' %}" method="post">{% csrf_token %}
        <select  class="eleccion" name="rivales">
            {% for rival in rivales  %}
            <option value="{{rival.nombre}}">{{rival.nombre}} - {{rival.puntaje}}</option>
            {% endfor %}
            <br>
            <input type="submit"/>
        </select>
    </form>
</div>
    
{% endblock contenido %}